<!-- <h1>this is user's profile</h1> -->
<!-- result[0] is poll, result[1] is option -->

<!-- <div class="container-fluid lato" style='background-color:white; margin-top:-5vh;'>

</div> -->

<div id='profile-container' class='lato' style='margin-top:-5vh;'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style='text-align:center; margin-bottom:2%;'>
    <li id='about-tab' role="presentation" class="active col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-3 col-xs-4"><a href="#about" aria-controls="home" role="tab" data-toggle="tab">ABOUT</a></li>
    <li id='drops-tab' role="presentation" class="col-md-2 col-sm-2 col-xs-3 col-xs-4"><a href="#drops" aria-controls="profile" role="tab" data-toggle="tab">DROPS</a></li>
    <li id='polls-tab' role="presentation" class="col-md-2 col-sm-2 col-xs-3 col-xs-4"><a href="#polls" aria-controls="messages" role="tab" data-toggle="tab">POLLS</a></li>
    <!-- <li role="presentation" class="col-md-2 col-sm-2 col-xs-3 col-xs-3"><a href="#options" aria-controls="settings" role="tab" data-toggle="tab">OPTIONS</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id='profile-tab-content'>

    <!-- ABOUT STARTS -->
    <div role="tabpanel" class="tab-pane active" id="about">
      about
    </div>
    <!-- ABOUT ENDS -->

    <!-- DROP STARTS -->
    <div role="tabpanel" class="tab-pane" id="drops">
      drops
    </div>
    <!-- DROP ENDS -->

    <!-- POLL STARTS -->
    <div role="tabpanel" class="tab-pane" id="polls">
      polls
      <div class="container">

      </div>

      <% if (message) { %>
        <div class="container" style='text-align:center;'>
          <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="row">
              <div class="col-md-12 roboto-font" style='font-size:100px;'>
                <strong>Ooops!</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 roboto-font" style='font-size:25px;'>
                <%= message %>
                <a href="/home" class='click-here'><span class='grow'>Click here</span></a> and create one!
              </div>
            </div>
          </div>
        </div>
      <% } else { %>
        <div class="container">
          <% polls.forEach(function(poll) { %>
          <div class="row poll-div">
            <h1><%= poll.name %></h1>
            <% var options = poll.options %>
            <% options.forEach(function(option) { %>
              <!-- <% if (options.length < 1) { %>
              <% } else { %>
              <% } %> -->
              <% if(currentUser.id == option.userId) { %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="thumbnail">
                    <img src="<%= option.productImageUrl %>" alt="..." style='height:50vh; width:100%;'>
                    <div class="caption">
                      <div style='height:15vh;'>
                        <span style='font-size:20px; font-weight:bold;'><%= option.name %></span>
                      </div>
                      <a href='<%= option.productUrl %>'><p><span class='view-website grey'>VIEW PRODUCT URL</span></a></p>
                      <% if (option.productDescription) { %>
                        <p style='height:25vh;'><%= option.productDescription %></p>
                      <% } else { %>
                        <p style='height:25vh;'>There are no descripton for this option at the moment.</p>
                      <% } %>
                      <% if (option.productRetailsPrice) { %>
                        <p style='height:10vh;'><%= option.productRetailsPrice %></p>
                      <% } else { %>
                        <p style='height:10vh;'>There are no price stated for this option at the moment.</p>
                      <% } %>
                      <!-- <a class="btn btn-default edit-option" href="#" role="button" value='<%= option.id %>'>Edit Option</a> -->
                      <!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
                        <button class="edit-option-button remove-glow" value='<%= option.id %>'>EDIT OPTION</button>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              <% } %>
            <% }) %>
          </div>
          <% }) %>
        </div>
      <% } %>
    </div>
    <!-- POLL ENDS -->

    <!-- OPTION STARTS -->
    <div role="tabpanel" class="tab-pane" id="options">
      options
    </div>
    <!-- OPTION ENDS -->

  </div>

</div>

<script type="text/javascript">

  $(document).on("click", ".edit-option-button", function() {
    $('#edit-option-form').remove();
    $('#profile-tab-content').hide();
    // $('#footer').css('border-top', '1px solid #e5e5e5');
    // $('#footer').css('background-color', '#e5e5e5');
    $('body').css('background-color', 'white');

    $.ajax({
      url: '/options/' + this.value + '/edit',
      method: "GET"
    }).done(function(dataFromServer) {
      $('#profile-container').append(
        '<div class="container lato" id="edit-option-form">' +
          '<div class="container">' +
            '<div class="row" style="border-bottom:1px solid #e5e5e5; margin-bottom:25px;">' +
              '<h2>' + dataFromServer.name + '</h2>' +
            '</div>' +
            '<form action="/options/' + dataFromServer.id + '?_method=PUT" method="post">' +
              '<div class="row">' +
                '<div class="col-md-6 col-sm-6 col-xs-12 padding-zero">' +
                  '<div class="create-poll-input-margin">' +
                    'Description<br>' +
                    '<input class="create-poll-input remove-glow" type="text" name="productDescription" value="' + dataFromServer.productDescription + '"><br>' +
                  '</div>' +
                  '<div class="create-poll-input-margin">' +
                    'Retail Price<br>' +
                    '<input class="create-poll-input remove-glow" type="text" name="productRetailsPrice" value="' + dataFromServer.productRetailsPrice + '"><br>' +
                  '</div>' +
                  '<div class="create-poll-input-margin">' +
                    'Product Link<br>' +
                    '<input class="create-poll-input remove-glow" type="text" name="productUrl" value="' + dataFromServer.productUrl + '"><br>' +
                  '</div>' +
                  '<div class="create-poll-input-margin">' +
                    'Product Image URL<br>' +
                    '<input class="create-poll-input remove-glow" type="text" name="productImageUrl" value="' + dataFromServer.productImageUrl + '"><br>' +
                  '</div>' +
                  '<button type="submit" class="remove-glow create-poll-button col-md-8 col-sm-12 col-xs-12" name="button">SUBMIT</button>' +
                '</div>' +
              '</div>' +
            '</form><br>' +
          '</div>' +
          '<div class="row" style="padding: 15px; margin-bottom: 20px;">' +
            '<div id="profile-back" class="back-button col-md-4 col-sm-6 col-xs-12">' +
              'BACK' +
            '</div>' +
          '</div>' +
        '</div>'
      )
      $(document).on('click', '#profile-back', function() {
        console.log('back button clicked');
        $('body').css('background-color', '#f4f4f4');
        $('#footer').css('border-top', 'none');
        $('#profile-back').hide();
        $('#edit-option-form').hide();
        $('#profile-tab-content').show();
      });
    }).fail(function() {
      console.log("failed to retrieve data from app");
    });
  });

  $('#about-tab').on('click', function() {
    $('#profile-back').hide();
    $('#edit-option-form').hide();
    $('#profile-tab-content').show();
  });

  $('#drops-tab').on('click', function() {
    $('#profile-back').hide();
    $('#edit-option-form').hide();
    $('#profile-tab-content').show();
  });

</script>
