<style media="screen">
    .drop-div {
      background-color: white;
      margin-bottom: 3%;
    }
</style>

<div class="container-fluid lato" style='margin-top:-5vh; height:160px; background-color:white;'>
  <div class="container" style='height:160px;'>
    <div class="row hidden-xs" style='margin-top: 4vh;'>
      <span style='font-size:32px;'><%= drop.name %></span>
    </div>
    <div class="row hidden-xs" style='margin-top: 20px;'>
      <span class='pill'><%= drop.productPrice %></span> &nbsp
      <span class='pill'><%= drop.numberOfPurchased %> purchased</span>
    </div>

    <div class="row hidden-md hidden-sm visible-xs" style='margin-top: 4vh;'>
      <span style='font-size:28px;'><%= drop.name %></span>
    </div>
    <div class="row hidden-md hidden-sm visible-xs" style='margin-top: 20px;'>
      <span class='pill-xs'><%= drop.productPrice %></span> &nbsp
      <span class='pill-xs'><%= drop.numberOfPurchased %> purchased</span>
    </div>

  </div>
</div>

<div class="container lato padding-zero" style='margin-top:20px;'>
  <!-- drop start -->
  <div class="col-md-9 col-sm-12 col-xs-12 padding-zero">
    <!-- <div class="col-md-12 col-sm-12 col-xs-12 drop-div padding-zero">
      <h4><%= drop.productPrice %> <%= drop.numberOfPurchased %> purchased</h4>
    </div> -->
    <div class="col-md-12 col-sm-12 col-xs-12 padding-zero">
      <img src="<%= drop.productImageUrlDrop %>" alt="" style='width:100%;'/>
    </div>
    <!-- CART XS -->

    <div class="col-xs-12 hidden-md hidden-sm visible-xs join-drop-div-sm lato">
      <div class="col-xs-12" style='background-color:white; padding:50px; height:320px;'>
        <div class="col-xs-12 shopping-cart-xs">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </div>
        <div class="col-xs-12" style='text-align:center; line-height:100px;font-size:24px;'>
          <strong><%= drop.productPrice %></strong>
        </div>
        <div class="col-xs-12 padding-zero join-drop-days-left-div">
          <div class="col-xs-6 padding-zero">
            <!-- <span class="flag-icon flag-icon-sg"></span> -->
            5D LEFT
          </div>
          <div class="col-xs-6 padding-zero" style='text-align:right'>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-12 padding-zero">
          <button class="join-drop-button join-drop-button-xs remove-glow">JOIN DROP</button>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-8 col-xs-12 drop-div padding-zero drop-description" style='margin-top:3%;'>
      <%= drop.productDescription %>
    </div>

    <!-- CART SM -->
    <div class="col-sm-4 hidden-md visible-sm hidden-xs join-drop-div-sm lato">
      <div class="col-md-12 col-sm-12" style='background-color:white; padding:25px; height:344px;'>
        <div class="col-md-12 col-sm-12 shopping-cart-sm">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </div>
        <div class="col-md-12 col-sm-12" style='text-align:center; line-height:100px;font-size:24px;'>
          <strong><%= drop.productPrice %></strong>
        </div>
        <div class="col-md-12 col-sm-12 padding-zero join-drop-days-left-div">
          <div class="col-md-8 col-sm-6 padding-zero">
            <!-- <span class="flag-icon flag-icon-sg"></span> -->
            5D LEFT
          </div>
          <div class="col-md-4 col-sm-6 padding-zero" style='text-align:right'>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 padding-zero">
          <button class="join-drop-button remove-glow">JOIN DROP</button>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 drop-div padding-zero drop-description">
      <h4 style='font-size:28px'><strong>Included</strong></h4>
      2-Year Manufacturer's Warranty
      <br>
      <br>
      <h4 style='font-size:28px'><strong>Shipping</strong></h4>
      Estimated ship date is Dec 26, 2016.
      <br>
      <br>
      After the drop ends, payment will be collected. To deliver the best value to the group the request will then be submitted to the vendor up front, making all sales final. Be sure to check the discussion page for updates.
    </div>
  </div>
  <!-- drop end -->

  <!-- cart sm start -->
  <div class="col-md-3 col-sm-3 hidden-sm hidden-xs join-drop-div lato">
    <div class="col-md-12 col-sm-12" style='background-color:white; padding:35px;'>
      <div class="col-md-12 col-sm-12 shopping-cart">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      </div>
      <div class="col-md-12 col-sm-12" style='text-align:center; line-height:100px;font-size:24px;'>
        <strong><%= drop.productPrice %></strong>
      </div>
      <div class="col-md-12 col-sm-12 padding-zero join-drop-days-left-div">
        <div class="col-md-8 col-sm-6 padding-zero">
          <!-- <span class="flag-icon flag-icon-sg"></span> -->
          5D LEFT
        </div>
        <div class="col-md-4 col-sm-6 padding-zero" style='text-align:right'>
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 padding-zero">
        <button class="join-drop-button remove-glow">JOIN DROP</button>
      </div>
    </div>
  </div>
  <!-- pmt box ends -->
</div>

<a href="/home">
  <div class="container" style='margin-bottom:30px;'>
    <div class="back-button col-md-4 col-sm-4 col-xs-6">
      BACK
    </div>
  </div>
</a>
