<div class="container-fluid lato" style='background-color:white; margin-top:-5vh;' id='poll-title'>
  <div class="container">
    <h1 style='margin-bottom:14px;'><%= pollResult[0].name %></h1>
    <p>by <span class='light-blue'><%= pollResult[0].user.firstName %> <%= pollResult[0].user.lastName %></span></p>
  </div>
</div>

<div class='lato' id='options-container'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id='nav-tab'>
    <li role="presentation" class="active col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-4 col-xs-offset-2"><a href="#voting" aria-controls="home" role="tab" data-toggle="tab">VOTING</a></li>
    <li role="presentation" class="col-md-2 col-sm-2 col-xs-4"><a href="#results" aria-controls="profile" role="tab" data-toggle="tab">RESULTS</a></li>

    <!-- <li role="presentation" class="active col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-3 col-xs-4"><a href="#voting" aria-controls="home" role="tab" data-toggle="tab">VOTING</a></li>
    <li role="presentation" class="col-md-2 col-sm-2 col-xs-3 col-xs-4"><a href="#results" aria-controls="profile" role="tab" data-toggle="tab">RESULTS</a></li>
    <li role="presentation" class="col-md-2 col-sm-2 col-xs-3 col-xs-4"><a href="#discussion" aria-controls="messages" role="tab" data-toggle="tab">DISCUSSION</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="voting">

      <div class="container hidden-xs lato" style='padding:0;'>
        <a href="/home/polls">
          <div class="col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8" style='padding:0; margin-bottom:2%;'>
            <button id="back-to-poll-button" class="remove-glow">BACK</button>
          </div>
        </a>
      </div>
      <div class="container hidden-md hidden-sm visible-xs lato" style='padding:0;'>
        <a href="/home/polls">
          <div class="col-xs-12" style='margin-bottom:2%;'>
            <button id="back-to-poll-button" class="remove-glow">BACK</button>
          </div>
        </a>
      </div>
      <div class="container poll-div lato">
        <div class="row">
          <% var options = pollResult[1] %>
          <% options.forEach(function(option) { %>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="thumbnail">
              <div>
                <!-- <img src="<%= option.productImageUrl %>" alt="..." style='height:50vh; width:100%;'> -->
                <img src="<%= option.productImageUrl %>" alt="..." style='height:300px; width:100%;'>
              </div>
              <div class="caption">
                <!-- <div style='height:15vh;'> -->
                <div style='height:90px;'>
                  <span style='font-size:18px; font-weight:bold;'><%= option.name %></span>
                </div>
                <a href='<%= option.productUrl %>'><span class='view-website grey'>VIEW WEBSITE</span></a>
                <p><span class='grey'>by </span><span class='light-blue'><%= option.user.firstName %> <%= option.user.lastName %></span></p>

                <% var voteStatus = false; %>
                <% var votes = option.votes %>
                <% votes.forEach(function(vote) { %>
                  <% if (vote.userId == currentUser.id && vote.optionId === option.id) { %>
                    <% voteStatus = true; %>
                  <% } else { %>
                    <% // do nothing %>
                  <% } %>
                <% }) %>

                <% if (voteStatus) { %>
                  <button class="vote-option-button voted" value="<%= option.id %>" style='width:100%;'>VOTED</button>
                <% } else { %>
                  <button class="vote-option-button" value="<%= option.id %>" style='width:100%;'>VOTE</button>
                <% } %>

              </div>
            </div>
          </div>
          <% }) %>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div id='add-option-thumbnail' class="thumbnail" style='border: 1px solid #00aeda;'>
              <!-- <div style='height:50vh; width:100%; text-align:center;'> -->
              <div style='height:300px; width:100%; text-align:center;'>
                <!-- <span class="glyphicon glyphicon-plus light-blue" aria-hidden="true" style='line-height:60vh; font-size:70px;'></span> -->
                <span class="glyphicon glyphicon-plus light-blue" aria-hidden="true" style='line-height:300px; font-size:70px;'></span>
                <!-- <img style='height:50vh; width:100%;'> -->
              </div>
              <div class="caption">
                <!-- <div style='height:15vh; text-align:center;'> -->
                <div style='height:90px; text-align:center;'>
                  <span class='light-blue' style='font-size:20px; font-weight:bold;'>ADD AN OPTION</span>
                </div>
                <a style='color:transparent;'>&nbsp</a>
                <p style='color:transparent;'>&nbsp</p>
                <button class="special">&nbsp</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="results">
      <div class="container poll-div lato">
        <% var optionsResults = pollResult[1] %>
        <% var highestnumberOfVotes = 0 %>
        <% for (var i = 0; i < optionsResults.length; i++) { %>
          <% if (highestnumberOfVotes < parseInt(options[i].numberOfVotes)) { %>
            <% highestnumberOfVotes = parseInt(options[i].numberOfVotes) %>
          <% } %>
        <% } %>
        <% optionsResults.forEach(function(optionResult) { %>

        <div class="row result-div">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="<%= optionResult.productImageUrl %>" alt="" style='width:100%;'/>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <span style='font-size:25px; font-weight:bold;'><%= optionResult.name %></span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <span class='grey'>by </span><span class='light-blue'><%= optionResult.user.firstName %> <%= optionResult.user.lastName %></span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <progress value="<%= optionResult.numberOfVotes %>" max="<%= highestnumberOfVotes %>"></progress>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style='text-align:right;'>
              <% if (optionResult.numberOfVotes > 1) { %>
                <span id='optionVoteId-<%= optionResult.id %>'><%= optionResult.numberOfVotes %></span> votes
              <% } else { %>
                <span><%= optionResult.numberOfVotes %></span> vote
              <% } %>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="discussion">
    </div>

  </div>

</div>

<!-- CREATE NEW OPTION FOR POLL-->
<div class="container lato" id='add-option-form'>
  <div class="container">
    <div class="row" style='border-bottom:1px solid #e5e5e5; margin-bottom:25px;'>
      <h2>Create A New Option</h2> <br>
      <p class='light-blue' style='margin-bottom: 15px;'>Browse before creating an option as it may have already been suggested by other users.</p>
    </div>
    <form action='/options' method="post">
      <input type="hidden" name="pollId" value="<%= pollResult[0].id %>">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 padding-zero">
          <div class="create-poll-input-margin">
            Name<br>
            <input class='create-poll-input remove-glow' type="text" name="name"><br>
          </div>
          <div class="create-poll-input-margin">
            Description<br>
            <input class='create-poll-input remove-glow' type="text" name="productDescription"><br>
          </div>
          <div class="create-poll-input-margin">
            Retail Price<br>
            <input class='create-poll-input remove-glow' type="text" name="productRetailsPrice"><br>
          </div>
          <div class="create-poll-input-margin">
            Product Link<br>
            <input class='create-poll-input remove-glow' type="text" name="productUrl"><br>
          </div>
          <div class="create-poll-input-margin">
            Product Image URL<br>
            <input class='create-poll-input remove-glow' type="text" name="productImageUrl"><br>
          </div>
          <button type="submit" class="remove-glow create-poll-button col-md-8 col-sm-12 col-xs-12" name="button">SUBMIT OPTION</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row" style='padding: 15px; margin-bottom: 20px;'>
    <div id='back-option' class='back-button col-md-4 col-sm-6 col-xs-12'>
      BACK
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#voting').on('click', '.vote-option-button', function() {
    var element = this
    var value = this.value
    if (this.textContent == 'VOTE') {
      $.ajax({
        url: "/polls/options/" + value + "/vote",
        method: "POST",
        // context: this
      }).done(function(dataFromServer) {
        // console.log('ajax success');
        element.textContent = 'VOTED';
        var newVote;
        // console.log('changing vote value');
        newVote = parseInt(document.getElementById('optionVoteId-' + value).textContent) + 1
        document.getElementById('optionVoteId-' + value).textContent = newVote.toString();
        // console.log('change vote value success');
        $(element).addClass('voted');
        // console.log('voted class added');
      }).fail(function() {
        console.log('vote ajax failed');
      });
    } else if (this.textContent == 'VOTED') {
      $.ajax({
        url: "/polls/options/" + value + "/vote",
        method: "DELETE"
      }).done(function(dataFromServer) {
        element.textContent = 'VOTE';
        var newVote;
        newVote = parseInt(document.getElementById('optionVoteId-' + value).textContent) - 1
        document.getElementById('optionVoteId-' + value).textContent = newVote.toString();
        $(element).removeClass('voted');
        // console.log('ajax unvote success');
      }).fail(function() {
        console.log('unvote ajax failed');
      });
    }
  });
</script>
